@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root {
  --primary: rgb(223, 183, 134);
  --active: rgb(138, 119, 95);
  --background: #151320;
  --rodape: gold;
  --padding: 0.87rem;
}


input::-webkit-calendar-picker-indicator {
  display: none !important;
}

footer {
  padding: 0 1rem;
}

.container-cartinha {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container-inputs {
  display: flex;
  justify-content: center;
}

.label-regiao {
  margin-right: 1rem;
}

.centralizar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: 'VT323', monospace;
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.buscar {
  align-items: center;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  font-family: 'VT323', monospace;
  align-items: center;
  padding: 0 var(--padding);
  border: none;
  border-radius: 5px;
  background-size: 300% 300%;
  font-size: 1rem;
  height: 2rem;
}


.rodape {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  font-size: 0.67rem;
  color: var(--rodape);
}

.container-button {
  display: flex;
  justify-content: center;
}

.button-enviar {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
  font-size: 1rem;

  font-family: 'VT323', monospace;
  /* font-weight: bold; */
  padding: var(--padding);
  border-radius: 0.5rem;
  margin-top: 2rem;
  border: 0;
}

.button-enviar:active {
  background-color: var(--active);
}

.carta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: double;
  border-color: gold;
  width: 16rem;
  height: 22rem;
  margin: 0 auto;
  margin-top: 1rem;
  color: white;
  padding: 1rem;
  text-align: center;
}

.carta-header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}


.container-campos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nome {
  font-size: 1.4rem;
  overflow-wrap: break-word;
}

.elo {
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.container-notas {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}


.notas-titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.notas-titulos ::after {
  content: "................................................................................................."
}

.container-valores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.valor {
  padding-left: 0.2rem;
}