@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


   
   
    body{
    font-size: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151320;
        
    }

    .titulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-family: 'VT323', monospace;    
        font-size: 800%;
        color: rgb(223, 183, 134);
     }
     
     
     .centralizar{
      display: flex;
      justify-content: center;
     }
    
    
    
     .nome{
         width: 200px;
         height: 30px;
         padding: 5px;
         border: none;
         border-radius: 5px;
         background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
         background-size: 300% 300%;
         animation: animacion-gradient 5s ease infinite;
       }
       
       @keyframes animacion-gradient {
         0% {
           background-position: 0% 50%;
         }
         50% {
           background-position: 100% 50%;
         }
         100% {
           background-position: 0% 50%;
         }
      }
   
    .buscar{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'VT323', monospace;
        font-size: 200%;
        color: rgb(223, 183, 134);
    
       
     }
     
     .regiao {
         align-items: center  ;
         width: 100px;
         height: 30px;
         padding: 5px;
         border: none;
         border-radius: 5px;
         background-image: linear-gradient(45deg, #ff0000, #0ed40e, #0909d2);
         background-size: 300% 300%;
         animation: animacion-gradient 5s ease infinite;
       }
       
       @keyframes animacion-gradient {
         0% {
           background-position: 0% 50%;
         }
         50% {
           background-position: 100% 50%;
         }
         100% {
           background-position: 0% 50%;
         }
       }
    

     



      .rodapé{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 20px;
            font-size: 70%;
            color: gold;

     }
